@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top top;
  background-color: F2EE94;
  color: #00437c;
}

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 520px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}

/*#video{
  margin-top: 180px;
  margin-left: 350px;
}*/

* {
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
}

.video {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 30px;
  background-color: #f0f0f0;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 8px 33px #999;
  /*margin-left: 300px;*/
}

.video1{
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 30px;
  background-color: #f0f0f0;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 8px 33px #999;
  /*margin-left: 900px;
  margin-top: -320px;*/
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#movie{
  /*margin-left: 330px;
  margin-top: 35px;*/
  font-size: x-large;
}

.award{
  text-align: center;
  
}

/*텍스트 위에 글 올리기*/
.background-wrap {
  background-image: url('https://www.annecy.org/resources/interface/vignette_en_images_2020.jpg');
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap2 {
  background-image: url( https://www.annecy.org/resources/interface/vignette_en_images_2019.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap3 {
  background-image: url('https://www.annecy.org/resources/interface/vignette_en_images_2018.jpg');
  background-size: 272px 211px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap4 {
  background-image: url(https://www.annecy.org/resources/interface/vignette_en_images_2017.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap5 {
  background-image: url(https://www.annecy.org/resources/interface/vignette_en_images_2016.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap6 {
  background-image: url(https://www.annecy.org/resources/interface/2015_vignette_en_images.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap7 {
  background-image: url(https://www.annecy.org/resources/interface/vignette_2014_en_images.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap8 {
  background-image: url(https://www.annecy.org/resources/interface/affiche_annecy_2013_260x120.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap9 {
  background-image: url(https://www.annecy.org/resources/interface/affiche_annecy_2012_260x120.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap10 {
  background-image: url(https://www.annecy.org/resources/interface/affiche_annecy_2011_260x120.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap11 {
  background-image: url(https://www.annecy.org/resources/interface/affiche_annecy_2010_260x120.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap12 {
  background-image: url(https://www.annecy.org/resources/interface/affiche_annecy_2009_260x120.jpg);
  background-size: 272px 196px;
  width: 272px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*award영역 가운데 정렬*/
/*.official{
  position: absolute;
  text-align: center;
  display: flex;
}*/


.content {
  display: flex;
  flex-direction: column;
}

.content span {
  color: white;
}

.content span:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}

.content span:nth-child(2) {
  font-size: 20px;
}

/*record 가운데 정렬*/
.item-wrap {
	max-width: 1280px;
	margin: 0 auto;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: -250px;
}
.item-wrap .items { /* 자식들을 감싸고 있는 부모 */
	display: block;
	font-size: 0; /* 가장 중요한 font-size: 0; 속성 */
	margin: 0 -5px; /* 너비간 10px 간격을 만들기 위해 남은 5px을 양옆으로 땡겨줌 */
}
.item-wrap .items .item { /* 나란히 배치할 영역 */
	display: inline-block;
	width: 50%;
	padding: 0 5px; /* 간격을 위해 각 너비에 준 패딩 5px을 줌 */
	vertical-align: middle; /* 나란히 배치하는 와중에 수직정렬도 가운데로 하려고 준 속성 */
	text-align: center; /* 영역 안 태그들의 텍스트가 center로 오도록 준 속성 */
	box-sizing: border-box; /* width값이 오롯이 50%를 갖게 하기 위해 준 속성 */
}
.item-wrap .items .item .inner { /* 나란히 배치할 영역 안 텍스트를 감싼 div */
	height: 200px;
	font-size: initial; /* font-size: 0;을 하면 그 아래 자식들 모두 상속받기 때문에 텍스트가 있는 경우라면 꼭 줘야할 속성 */
	 /* 간격과 영역을 보여주기 위한 속성 */
}
.item-wrap .items .item .inner:before { /* 텍스트를 수직 가운데 정렬하기 위한 가상선택자 */
	content: ''; /* 가상선택자 안에 빈값을 넣어주기 위해 적용한 속성 */
	display: inline-block; /* inline-block이어야 vertical-align을 쓸 수 있기 때문에 준 속성 */
	vertical-align: middle; /* 수직 가운데 정렬을 하기 위해 준 속성 */
	width: 0; /* 다음에 올 태그와 수직을 맞추기 위한 것이므로 width값은 필요없어서 0으로 줌 */
	height: 100%; /* height값은 부모의 높이값을 100% 상속받아야 하기 때문에 준 속성 */
}
.item-wrap .items .item .inner span { /* 가상선택자와 나란히 배치하기 위해 준 속성 */
	display: inline-block;
	vertical-align: middle;
}

.ottawa_co{
  text-align: center;
}

.background-wrap13 {
  background-image: url( https://www.animationfestival.ca/wp-content/uploads/2021/07/Competition-Image.png);
  background-size: 272px 196px;
  width: 800px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
